# Setting up PySpark enviorement in Colab

In [ ]:
!pip install pyspark py4j

# Loading Fake Data CSV into Spark DataFrame

The loading Phase came from PySpark_HW1 because when I tried to use the `spark.read.csv()` from PySpark_HW3 it wasn't loading correctly. I had columns like: C_0 (_c0), C_1 (_c0) etc. Due to this, I decided to use the `spark.read.option('header', 'true')` to get the first rows as the DataFrame columns.

In [3]:
from pyspark.sql import SparkSession

In [4]:
spark = SparkSession.builder.appName('DataFrame').getOrCreate()

In [7]:
#df = spark.read.csv('Fake_data.csv') # HW3 csv reading option (not working)
#df.show(truncate = False)

df = spark.read.option('header', 'true').csv('Fake_data.csv')
df.show(n=5, truncate=False)

+---+----------------------+------------------------------+----------+------+-------------------------------------+---------+-------------+-----------+
|_c0|Birth_Country         |Email                         |First_Name|Income|Job                                  |Last_name|Loan_Approved|SSN        |
+---+----------------------+------------------------------+----------+------+-------------------------------------+---------+-------------+-----------+
|0  |Bosnia and Herzegovina|emily15@whitehead.com         |Melissa   |109957|Telecommunications researcher        |Miranda  |False        |129-41-7773|
|1  |Belgium               |ronald87@yahoo.com            |Curtis    |301884|Animal nutritionist                  |Garrett  |True         |212-74-3976|
|2  |United Kingdom        |hannah29@gmail.com            |Connor    |341584|English as a foreign language teacher|Steele   |False        |024-35-3834|
|3  |Kiribati              |derrick59@hotmail.com         |Adam      |448293|Surveyor, commercial/residential     |Newman   |False        |157-82-4486|
|4  |Malaysia              |wendycarpenter@walker-knox.com|Jared     |53621 |Drilling engineer                    |Mann     |True         |199-56-2824|
+---+----------------------+------------------------------+----------+------+-------------------------------------+---------+-------------+-----------+
only showing top 5 rows

In [ ]:
df.printSchema() # This helps understanding the DF structure

root
 |-- _c0: string (nullable = true)
 |-- Birth_Country: string (nullable = true)
 |-- Email: string (nullable = true)
 |-- First_Name: string (nullable = true)
 |-- Income: string (nullable = true)
 |-- Job: string (nullable = true)
 |-- Last_name: string (nullable = true)
 |-- Loan_Approved: string (nullable = true)
 |-- SSN: string (nullable = true)

Transformations & Actions:

`Transformation`: Transformation refers to the operation applied on a RDD to create new RDD. Filter, groupBy and map are the examples of transformations.

`Actions`: Actions refer to an operation which also applies on RDD, that instructs Spark to perform computation and send the result back to driver.

I am going to be creating a temporary table named “Fake_data_temp” so I can practice with the Spark SQL API and use SQL Syntax. The idea behind this was to use a couple of things from last homework and to also practice some SQL syntax. It is important to mentioned that many a few syntax/notes (SQLite Syntax) were taken from “Applied Database Technologies” class with Professor Olga Scrivner. PySpark with SQL API HW4 uses common SQL Syntax to achieve results.

# Question 1
Find birth country which has highest amount of people.

In [8]:
def_temp = df.createOrReplaceTempView('Fake_data_temp')

In [9]:
# Checking if temporary table exists or not
table_exists = spark.catalog.tableExists('Fake_data_temp')

if table_exists:
    print('Fake_data_temp exists')
else:
    print('Fake_data_temp does not exist')

Fake_data_temp exists

SQLite Syntax example from Applied Database Technologies:
It doesn't matter if you decide to the write the syntax in caps lock or not.

![image.png]()

`query_1` shows the implementation of spark.sql and how do we select and count all records in Birth_Country, after that we assign the alias Total_Country to it.  Then we proceed to group be Birth_Country and order it by Total_Country in descending order. Limit 1 is used to get the first row of the sorted Total_Country DESC. It's also worth mentioning that the first() function will return the  first value of the selected column.

In [ ]:
query_1 = spark.sql('''
      SELECT Birth_Country, COUNT(*) AS Total_Country
      FROM Fake_data_temp
      GROUP BY Birth_Country
      ORDER By Total_Country DESC
      LIMIT 1;
''')

In [ ]:
query_1.show(truncate=False)

+-------------+-------------+
|Birth_Country|Total_Country|
+-------------+-------------+
|Korea        |91           |
+-------------+-------------+

In [ ]:
query1 = query_1.first()['Birth_Country'] # get the first value of the Birth_Country column from first row of query_1

print('Country with the highest amount of people is:', query1)

Country with the highest amount of people is: Korea

In [ ]:
query1_sql = query_1.first()[0]
print('Country with the highest amount of people is:', query1_sql)

Country with the highest amount of people is: Korea

## New Code Transformations and Actions

We are still using the temporary table -> Fake_data_temp

In [10]:
# Spark.sql -> also transformation
# new query
new_query1 = spark.sql('''
      SELECT Birth_Country, COUNT(*) AS Total_Country
      FROM Fake_data_temp
      GROUP BY Birth_Country;
''')

transf1 = new_query1.orderBy(new_query1.Total_Country.desc()) # transformation

results_q1 = transf1.collect() # action

top_country = results_q1[0] # action

print(top_country)

Row(Birth_Country='Korea', Total_Country=91)

In [12]:
new_query1 = spark.sql('''
      SELECT Birth_Country, COUNT(*) AS Total_Country
      FROM Fake_data_temp
      GROUP BY Birth_Country;
''')

# We can aslo have something like this (reference PySpark desc() and collect()):
transf_act1 = new_query1.orderBy(new_query1.Total_Country.desc()).collect() # transformation and action
top_country = transf_act1[0] # action

print(top_country)

Row(Birth_Country='Korea', Total_Country=91)

# Question 2

Find Maximum income in each country  and display the countries from highest to lowest Income.

The code `query_2` is straight forward, we select Birth_Country and Income from the DataFrame and assigned an alias to the MAX(Income) names Maximum_Income. We group by Birth_Country and order by Maximum_Income in descending order. We store the new DataFrame in a variable called maximum_income_df and show results from highest to lowest.

In [14]:
# transformation
query_2 = spark.sql('''
      SELECT Birth_Country, MAX(Income) AS Maximum_Income
      FROM Fake_data_temp
      GROUP BY Birth_Country
      ORDER BY Maximum_Income DESC;
''')

maximum_income_df = query_2 # storing query_2 dataframe into new variable

maximum_income_df.show(truncate=False)

+--------------------------------------------+--------------+
|Birth_Country                               |Maximum_Income|
+--------------------------------------------+--------------+
|Denmark                                     |99900         |
|Madagascar                                  |99895         |
|Cayman Islands                              |99731         |
|Chad                                        |99721         |
|Angola                                      |9961          |
|Falkland Islands (Malvinas)                 |9939          |
|Korea                                       |99374         |
|United States Minor Outlying Islands        |99334         |
|Uganda                                      |99315         |
|Brazil                                      |99311         |
|Antarctica (the territory South of 60 deg S)|99309         |
|Nepal                                       |99284         |
|Oman                                        |99283         |
|Romania                                     |99260         |
|Holy See (Vatican City State)               |99259         |
|Guernsey                                    |99212         |
|Haiti                                       |99209         |
|Bermuda                                     |99183         |
|United Kingdom                              |98970         |
|Seychelles                                  |98950         |
+--------------------------------------------+--------------+
only showing top 20 rows

## New Code Transformations and Actions

We are still using the temporary table -> Fake_data_temp

In [15]:
max_income = query_2.withColumnRenamed('Maximum_Income', 'MAX_Income') # transformation lets renamed to MAX_Income

transf2 = max_income.orderBy(max_income.MAX_Income.desc()) # transformation

results_q2 = transf2.collect() # action

for row in results_q2:
    print(row)

Row(Birth_Country='Denmark', MAX_Income='99900')
Row(Birth_Country='Madagascar', MAX_Income='99895')
Row(Birth_Country='Cayman Islands', MAX_Income='99731')
Row(Birth_Country='Chad', MAX_Income='99721')
Row(Birth_Country='Angola', MAX_Income='9961')
Row(Birth_Country='Falkland Islands (Malvinas)', MAX_Income='9939')
Row(Birth_Country='Korea', MAX_Income='99374')
Row(Birth_Country='United States Minor Outlying Islands', MAX_Income='99334')
Row(Birth_Country='Uganda', MAX_Income='99315')
Row(Birth_Country='Brazil', MAX_Income='99311')
Row(Birth_Country='Antarctica (the territory South of 60 deg S)', MAX_Income='99309')
Row(Birth_Country='Nepal', MAX_Income='99284')
Row(Birth_Country='Oman', MAX_Income='99283')
Row(Birth_Country='Romania', MAX_Income='99260')
Row(Birth_Country='Holy See (Vatican City State)', MAX_Income='99259')
Row(Birth_Country='Guernsey', MAX_Income='99212')
Row(Birth_Country='Haiti', MAX_Income='99209')
Row(Birth_Country='Bermuda', MAX_Income='99183')
Row(Birth_Country='United Kingdom', MAX_Income='98970')
Row(Birth_Country='Seychelles', MAX_Income='98950')
Row(Birth_Country='Gabon', MAX_Income='98920')
Row(Birth_Country='Turks and Caicos Islands', MAX_Income='98807')
Row(Birth_Country='Lebanon', MAX_Income='98785')
Row(Birth_Country='Montserrat', MAX_Income='98770')
Row(Birth_Country='Liechtenstein', MAX_Income='98608')
Row(Birth_Country='Saint Vincent and the Grenadines', MAX_Income='98587')
Row(Birth_Country='Qatar', MAX_Income='98575')
Row(Birth_Country='Pitcairn Islands', MAX_Income='98561')
Row(Birth_Country='Portugal', MAX_Income='98559')
Row(Birth_Country='Christmas Island', MAX_Income='98522')
Row(Birth_Country='India', MAX_Income='98457')
Row(Birth_Country='Reunion', MAX_Income='9842')
Row(Birth_Country='Burkina Faso', MAX_Income='98348')
Row(Birth_Country='Montenegro', MAX_Income='98341')
Row(Birth_Country='Guadeloupe', MAX_Income='98289')
Row(Birth_Country='Zimbabwe', MAX_Income='98241')
Row(Birth_Country='Swaziland', MAX_Income='98176')
Row(Birth_Country='Timor-Leste', MAX_Income='98028')
Row(Birth_Country='Cape Verde', MAX_Income='98027')
Row(Birth_Country='Spain', MAX_Income='98021')
Row(Birth_Country='Saudi Arabia', MAX_Income='97940')
Row(Birth_Country='Slovenia', MAX_Income='9788')
Row(Birth_Country='South Africa', MAX_Income='97651')
Row(Birth_Country='Burundi', MAX_Income='97557')
Row(Birth_Country='Mexico', MAX_Income='97504')
Row(Birth_Country='Indonesia', MAX_Income='97475')
Row(Birth_Country='Trinidad and Tobago', MAX_Income='97475')
Row(Birth_Country='Saint Lucia', MAX_Income='97466')
Row(Birth_Country='Serbia', MAX_Income='97412')
Row(Birth_Country='Japan', MAX_Income='97276')
Row(Birth_Country='Pakistan', MAX_Income='97237')
Row(Birth_Country='Congo', MAX_Income='97020')
Row(Birth_Country='Ireland', MAX_Income='96912')
Row(Birth_Country='Luxembourg', MAX_Income='96690')
Row(Birth_Country='Rwanda', MAX_Income='96687')
Row(Birth_Country="Lao People's Democratic Republic", MAX_Income='96633')
Row(Birth_Country='Costa Rica', MAX_Income='96569')
Row(Birth_Country='Belarus', MAX_Income='96547')
Row(Birth_Country='Nicaragua', MAX_Income='96540')
Row(Birth_Country='Cyprus', MAX_Income='9639')
Row(Birth_Country='Philippines', MAX_Income='96248')
Row(Birth_Country='Jamaica', MAX_Income='96239')
Row(Birth_Country='Kenya', MAX_Income='96138')
Row(Birth_Country='Saint Barthelemy', MAX_Income='96065')
Row(Birth_Country='Northern Mariana Islands', MAX_Income='95953')
Row(Birth_Country='Mozambique', MAX_Income='95921')
Row(Birth_Country='Palau', MAX_Income='9591')
Row(Birth_Country='Lesotho', MAX_Income='95882')
Row(Birth_Country='Netherlands', MAX_Income='95882')
Row(Birth_Country='Wallis and Futuna', MAX_Income='95849')
Row(Birth_Country='Libyan Arab Jamahiriya', MAX_Income='95808')
Row(Birth_Country='Netherlands Antilles', MAX_Income='95760')
Row(Birth_Country='Brunei Darussalam', MAX_Income='95693')
Row(Birth_Country='British Indian Ocean Territory (Chagos Archipelago)', MAX_Income='95384')
Row(Birth_Country='Saint Kitts and Nevis', MAX_Income='95322')
Row(Birth_Country='Macao', MAX_Income='95273')
Row(Birth_Country='Svalbard & Jan Mayen Islands', MAX_Income='95250')
Row(Birth_Country='Panama', MAX_Income='95135')
Row(Birth_Country='Heard Island and McDonald Islands', MAX_Income='95117')
Row(Birth_Country='Andorra', MAX_Income='95048')
Row(Birth_Country='Turkmenistan', MAX_Income='95035')
Row(Birth_Country='United States Virgin Islands', MAX_Income='9500')
Row(Birth_Country='Bahamas', MAX_Income='94980')
Row(Birth_Country='Yemen', MAX_Income='94909')
Row(Birth_Country='Mongolia', MAX_Income='94833')
Row(Birth_Country='Isle of Man', MAX_Income='94818')
Row(Birth_Country='Guatemala', MAX_Income='94726')
Row(Birth_Country='Bangladesh', MAX_Income='94636')
Row(Birth_Country='Nigeria', MAX_Income='94542')
Row(Birth_Country='Marshall Islands', MAX_Income='94489')
Row(Birth_Country='Equatorial Guinea', MAX_Income='94422')
Row(Birth_Country='Saint Helena', MAX_Income='94232')
Row(Birth_Country='Tajikistan', MAX_Income='94227')
Row(Birth_Country='French Polynesia', MAX_Income='94207')
Row(Birth_Country='Fiji', MAX_Income='9402')
Row(Birth_Country='Uruguay', MAX_Income='93955')
Row(Birth_Country='Anguilla', MAX_Income='93942')
Row(Birth_Country='Poland', MAX_Income='93814')
Row(Birth_Country='Belgium', MAX_Income='93805')
Row(Birth_Country='Tonga', MAX_Income='93767')
Row(Birth_Country='Israel', MAX_Income='93758')
Row(Birth_Country='Greenland', MAX_Income='93756')
Row(Birth_Country='Barbados', MAX_Income='93744')
Row(Birth_Country='Czech Republic', MAX_Income='93718')
Row(Birth_Country='Sierra Leone', MAX_Income='93602')
Row(Birth_Country='Austria', MAX_Income='93340')
Row(Birth_Country='Eritrea', MAX_Income='93266')
Row(Birth_Country='Armenia', MAX_Income='93220')
Row(Birth_Country='Venezuela', MAX_Income='93217')
Row(Birth_Country='Samoa', MAX_Income='93150')
Row(Birth_Country='New Caledonia', MAX_Income='93120')
Row(Birth_Country='Ethiopia', MAX_Income='9310')
Row(Birth_Country='Antigua and Barbuda', MAX_Income='92900')
Row(Birth_Country='Mauritania', MAX_Income='92889')
Row(Birth_Country='France', MAX_Income='9288')
Row(Birth_Country='Moldova', MAX_Income='9271')
Row(Birth_Country='Kuwait', MAX_Income='9262')
Row(Birth_Country='Georgia', MAX_Income='9260')
Row(Birth_Country='Vietnam', MAX_Income='92523')
Row(Birth_Country='Malta', MAX_Income='92413')
Row(Birth_Country='Slovakia (Slovak Republic)', MAX_Income='92367')
Row(Birth_Country='Colombia', MAX_Income='92353')
Row(Birth_Country='Western Sahara', MAX_Income='92335')
Row(Birth_Country='San Marino', MAX_Income='92235')
Row(Birth_Country='South Georgia and the South Sandwich Islands', MAX_Income='92132')
Row(Birth_Country='Gibraltar', MAX_Income='9213')
Row(Birth_Country='Mauritius', MAX_Income='9212')
Row(Birth_Country='Comoros', MAX_Income='91552')
Row(Birth_Country='Algeria', MAX_Income='91432')
Row(Birth_Country='Guam', MAX_Income='91322')
Row(Birth_Country='Botswana', MAX_Income='91087')
Row(Birth_Country='Myanmar', MAX_Income='91003')
Row(Birth_Country='Puerto Rico', MAX_Income='90660')
Row(Birth_Country='Central African Republic', MAX_Income='90658')
Row(Birth_Country='Aruba', MAX_Income='90544')
Row(Birth_Country='Vanuatu', MAX_Income='90522')
Row(Birth_Country='Cook Islands', MAX_Income='90481')
Row(Birth_Country='Bouvet Island (Bouvetoya)', MAX_Income='90469')
Row(Birth_Country='Niger', MAX_Income='90460')
Row(Birth_Country='Faroe Islands', MAX_Income='90431')
Row(Birth_Country='Namibia', MAX_Income='90415')
Row(Birth_Country='Guinea-Bissau', MAX_Income='90261')
Row(Birth_Country='Italy', MAX_Income='90234')
Row(Birth_Country='Iraq', MAX_Income='90232')
Row(Birth_Country='Benin', MAX_Income='90151')
Row(Birth_Country='Afghanistan', MAX_Income='90058')
Row(Birth_Country='Tunisia', MAX_Income='90051')
Row(Birth_Country='Cambodia', MAX_Income='90044')
Row(Birth_Country='Kazakhstan', MAX_Income='89999')
Row(Birth_Country='Norway', MAX_Income='89975')
Row(Birth_Country='Chile', MAX_Income='89890')
Row(Birth_Country='Cameroon', MAX_Income='89763')
Row(Birth_Country='Malawi', MAX_Income='89450')
Row(Birth_Country='Canada', MAX_Income='89286')
Row(Birth_Country='Niue', MAX_Income='89219')
Row(Birth_Country='Zambia', MAX_Income='8908')
Row(Birth_Country='Honduras', MAX_Income='89056')
Row(Birth_Country='Latvia', MAX_Income='89028')
Row(Birth_Country='China', MAX_Income='89021')
Row(Birth_Country='Djibouti', MAX_Income='88991')
Row(Birth_Country='Saint Pierre and Miquelon', MAX_Income='88960')
Row(Birth_Country='Egypt', MAX_Income='88824')
Row(Birth_Country='Bolivia', MAX_Income='88755')
Row(Birth_Country='Cuba', MAX_Income='88727')
Row(Birth_Country='Albania', MAX_Income='88510')
Row(Birth_Country='American Samoa', MAX_Income='88403')
Row(Birth_Country='Greece', MAX_Income='88282')
Row(Birth_Country='Russian Federation', MAX_Income='88139')
Row(Birth_Country='Jordan', MAX_Income='87908')
Row(Birth_Country='Azerbaijan', MAX_Income='87513')
Row(Birth_Country='Germany', MAX_Income='87510')
Row(Birth_Country='Croatia', MAX_Income='87486')
Row(Birth_Country='United Arab Emirates', MAX_Income='87240')
Row(Birth_Country='Micronesia', MAX_Income='87216')
Row(Birth_Country='Paraguay', MAX_Income='87019')
Row(Birth_Country='Thailand', MAX_Income='86887')
Row(Birth_Country='Morocco', MAX_Income='86154')
Row(Birth_Country='Liberia', MAX_Income='86134')
Row(Birth_Country='Malaysia', MAX_Income='86113')
Row(Birth_Country='Hungary', MAX_Income='86103')
Row(Birth_Country='Dominican Republic', MAX_Income='8604')
Row(Birth_Country='Singapore', MAX_Income='86024')
Row(Birth_Country='Cocos (Keeling) Islands', MAX_Income='85998')
Row(Birth_Country='Senegal', MAX_Income='85842')
Row(Birth_Country='Finland', MAX_Income='85801')
Row(Birth_Country='Guinea', MAX_Income='85349')
Row(Birth_Country='Monaco', MAX_Income='85181')
Row(Birth_Country='Nauru', MAX_Income='84837')
Row(Birth_Country='Saint Martin', MAX_Income='84445')
Row(Birth_Country='Iran', MAX_Income='84377')
Row(Birth_Country='Macedonia', MAX_Income='83666')
Row(Birth_Country='Bhutan', MAX_Income='83595')
Row(Birth_Country='Estonia', MAX_Income='83591')
Row(Birth_Country='French Southern Territories', MAX_Income='82940')
Row(Birth_Country='Mayotte', MAX_Income='81780')
Row(Birth_Country='Switzerland', MAX_Income='81562')
Row(Birth_Country='Togo', MAX_Income='81450')
Row(Birth_Country='Peru', MAX_Income='80302')
Row(Birth_Country='Kyrgyz Republic', MAX_Income='79509')
Row(Birth_Country='Ghana', MAX_Income='79341')
Row(Birth_Country='Uzbekistan', MAX_Income='78819')
Row(Birth_Country='Bosnia and Herzegovina', MAX_Income='78595')
Row(Birth_Country='Kiribati', MAX_Income='7813')
Row(Birth_Country='Sudan', MAX_Income='77960')
Row(Birth_Country='Grenada', MAX_Income='7791')
Row(Birth_Country='British Virgin Islands', MAX_Income='7739')
Row(Birth_Country='New Zealand', MAX_Income='77112')
Row(Birth_Country='Papua New Guinea', MAX_Income='7692')
Row(Birth_Country='Palestinian Territory', MAX_Income='76838')
Row(Birth_Country='French Guiana', MAX_Income='75979')
Row(Birth_Country='El Salvador', MAX_Income='75977')
Row(Birth_Country='Ukraine', MAX_Income='75432')
Row(Birth_Country='Martinique', MAX_Income='74901')
Row(Birth_Country='Belize', MAX_Income='74809')
Row(Birth_Country='United States of America', MAX_Income='7477')
Row(Birth_Country='Solomon Islands', MAX_Income='74044')
Row(Birth_Country='Taiwan', MAX_Income='7404')
Row(Birth_Country='Bulgaria', MAX_Income='73874')
Row(Birth_Country='Gambia', MAX_Income='73369')
Row(Birth_Country='Dominica', MAX_Income='73252')
Row(Birth_Country='Syrian Arab Republic', MAX_Income='73038')
Row(Birth_Country='Turkey', MAX_Income='72615')
Row(Birth_Country='Tuvalu', MAX_Income='71338')
Row(Birth_Country='Iceland', MAX_Income='71281')
Row(Birth_Country='Somalia', MAX_Income='70925')
Row(Birth_Country='Bahrain', MAX_Income='70885')
Row(Birth_Country='Sao Tome and Principe', MAX_Income='70628')
Row(Birth_Country='Guyana', MAX_Income='70054')
Row(Birth_Country='Hong Kong', MAX_Income='69970')
Row(Birth_Country='Ecuador', MAX_Income='69615')
Row(Birth_Country='Lithuania', MAX_Income='68516')
Row(Birth_Country='Argentina', MAX_Income='68085')
Row(Birth_Country='Sweden', MAX_Income='66487')
Row(Birth_Country='Sri Lanka', MAX_Income='65946')
Row(Birth_Country='Jersey', MAX_Income='6521')
Row(Birth_Country='Norfolk Island', MAX_Income='65154')
Row(Birth_Country='Mali', MAX_Income='64318')
Row(Birth_Country='Tokelau', MAX_Income='63567')
Row(Birth_Country='Maldives', MAX_Income='63456')
Row(Birth_Country='Australia', MAX_Income='59486')
Row(Birth_Country="Cote d'Ivoire", MAX_Income='52725')
Row(Birth_Country='Suriname', MAX_Income='491763')
Row(Birth_Country='Tanzania', MAX_Income='485935')

# Question 3

How many people has income over 100,000 but their loan is approved.


`query_3` follows kind of the same approach as query_1, but in much simpler way. We select the count of the records satisfied by the “where” clause and assign it to alias People. The “and” clause is the expand the task and find the Income greater than 100000 and Loan_Approved equals to True to get the result. Just like query_1, first() function is implemented to get the first value of the column People.

In [17]:
# transformation
query_3 = spark.sql('''
      SELECT COUNT(*) AS People
      FROM Fake_data_temp
      WHERE Income > 100000
      AND Loan_Approved = 'True';
''')

In [ ]:
query_3.show(truncate=False)

+------+
|People|
+------+
|3958  |
+------+

In [ ]:
query3 = query_3.first()['People'] # get the first value of the People column from first row of query_3

print('How many people has income over 100,000 but their loan is approved?', query3, 'people.')

How many people has income over 100,000 but their loan is approved? 3958 people.

In [ ]:
query3_sql = query_3.first()[0]

print('How many people has income over 100,000 but their loan is approved?', query3_sql, 'people.')

How many people has income over 100,000 but their loan is approved? 3958 people.

## New Code Transformations and Actions

We are still using the temporary table -> Fake_data_temp

In [30]:
transf3 = query_3.withColumnRenamed('People', 'People_Income_over_100k_Loan_Approved') # transformation

results_q3 = transf3.collect() # action

people_count = results_q3[0]

print(people_count)

Row(People_Income_over_100k_Loan_Approved=3958)

# Question 4

Find top 10 people with highest income in United States of America. (Print their names, income and jobs from the highest income to lowest).

`query4` takes on the name (incluing Last_Name), Income, and Job from the temporary table Fake_data_temp to get the top 10 people with highest income in the USA. To achieve this we need to use the “where” clause to set the Birth_Country to ‘United States of America’ and order by income in descending order. Limit to 10 because we just want the top 10 people.

In [ ]:
query_4 = spark.sql('''
      SELECT First_Name, Last_Name, Income, Job
      FROM Fake_data_temp
      WHERE Birth_Country = 'United States of America'
      ORDER BY Income DESC
      LIMIT 10;
''')

query4 = query_4 # storing query_4 dataframe into new variable

query4.show(truncate=False)

+-----------+---------+------+-------------------------------------------+
|First_Name |Last_Name|Income|Job                                        |
+-----------+---------+------+-------------------------------------------+
|Bobby      |Lopez    |7477  |Dietitian                                  |
|John       |Patterson|74237 |Facilities manager                         |
|Arthur     |Thompson |74114 |Electronics engineer                       |
|Christopher|Gonzales |71967 |Midwife                                    |
|Dorothy    |Hart     |68837 |Magazine features editor                   |
|Alejandro  |Hernandez|66730 |Warden/ranger                              |
|Martha     |Vargas   |62632 |Illustrator                                |
|Alyssa     |Miller   |482588|Amenity horticulturist                     |
|Tiffany    |Meyer    |47759 |Solicitor, Scotland                        |
|Hunter     |Walls    |468946|Psychologist, prison and probation services|
+-----------+---------+------+-------------------------------------------+

## New Code Transformations and Actions

We are still using the temporary table -> Fake_data_temp

In [33]:
# new query
new_query4 = spark.sql('''
      SELECT First_Name, Last_Name, Income, Job
      FROM Fake_data_temp
      WHERE Birth_Country = 'United States of America';
''')

transf4 = new_query4.orderBy(new_query4.Income.desc()) # transformation

results_q4 = transf4.collect() # action

top10 = results_q4[:10] # limit 10

for person in top10:
    print(person)

Row(First_Name='Bobby', Last_Name='Lopez', Income='7477', Job='Dietitian')
Row(First_Name='John', Last_Name='Patterson', Income='74237', Job='Facilities manager')
Row(First_Name='Arthur', Last_Name='Thompson', Income='74114', Job='Electronics engineer')
Row(First_Name='Christopher', Last_Name='Gonzales', Income='71967', Job='Midwife')
Row(First_Name='Dorothy', Last_Name='Hart', Income='68837', Job='Magazine features editor')
Row(First_Name='Alejandro', Last_Name='Hernandez', Income='66730', Job='Warden/ranger')
Row(First_Name='Martha', Last_Name='Vargas', Income='62632', Job='Illustrator')
Row(First_Name='Alyssa', Last_Name='Miller', Income='482588', Job='Amenity horticulturist')
Row(First_Name='Tiffany', Last_Name='Meyer', Income='47759', Job='Solicitor, Scotland')
Row(First_Name='Hunter', Last_Name='Walls', Income='468946', Job='Psychologist, prison and probation services')

# Question 5


How many numbers of distinct jobs are there? Again, `query5` follows the basic SQL Syntax to calculate the number of distinct jobs out there. We select and count the distinct Job and assing an alias to it named "Distnict_Job". Then we call the first value of this selected column to get the result.

In [60]:
query_5 = spark.sql('''
      SELECT COUNT(DISTINCT Job) AS Distinct_Job
      FROM Fake_data_temp;
''')

In [ ]:
query_5.show(truncate=False)

+------------+
|Distinct_Job|
+------------+
|639         |
+------------+

In [ ]:
query5 = query_5.first()['Distinct_Job'] # get the first value of the Distinct_Job column from first row of query_5

print('How many number of distinct jobs are there?', query5,'jobs.')

How many number of distinct jobs are there? 639 jobs.

In [ ]:
query5_sql = query_5.first()[0]

print('How many number of distinct jobs are there?', query5_sql,'jobs.')

How many number of distinct jobs are there? 639 jobs.

## New Code Transformations and Actions

We are still using the temporary table -> Fake_data_temp

In [31]:
# new query
new_query5 = spark.sql('''
      SELECT Job
      FROM Fake_data_temp;
''')

transf5 = new_query5.distinct() # transformation

results_q5 = transf5.count() # action

print('How many number of distinct jobs are there?', results_q5, 'jobs.')

How many number of distinct jobs are there? 639 jobs.

# Question 6
How many writers earn less than 100,000? `query6` calculates the total count of the rows where Job == 'Writer' and Income is less than $100,000. Again, we use the first() function to obtain the first value fo the selected column -> Writer.

In [ ]:
query_6 = spark.sql('''
      SELECT COUNT(*) AS Writers
      FROM Fake_data_temp
      WHERE Job = 'Writer'
      AND Income < 100000;
''')

In [ ]:
query_6.show(truncate=False)

+-------+
|Writers|
+-------+
|5      |
+-------+

In [ ]:
query6 = query_6.first()['Writers'] # get the first value (count of writers) of the Writers column from first row of query_6
print('How many writers earn less than 100,000?', query6)

How many writers earn less than 100,000? 5

In [ ]:
query6_sql = query_6.first()[0]
print('How many writers earn less than 100,000?', query6_sql)

How many writers earn less than 100,000? 5

## New Code Transformations and Actions

We are still using the temporary table -> Fake_data_temp

In [32]:
# new query
new_query6 = spark.sql('''
      SELECT *
      FROM Fake_data_temp
      WHERE Job = 'Writer';
''')

transf6 = new_query6.filter(new_query6.Income < 100000) # transformation

results_q6 = transf6.count() # action

print('How many writers earn less than 100,000?', results_q6, 'writers.')

How many writers earn less than 100,000? 5 writers.

# Question 7
List the Top 5 countries with the count which have the highest persons with their first name "Stephen" or "Alexandra" and whose salary is greater then 200000.

This code it’s a more elaborated than the others, however it still uses the basics of SQL Syntax to achieve results. `query_7` code calculates the total count of persons in each country who satisfied the filtering results. We assign these results to the column Highest_Person_Count using alias. We also use the WHERE, OR, AND to filter results. Finally, we group by Birth_Country and we order in descending order the Highest_Person_Count. We limit to 5 since we only want the top 5 countries results.

Observation: Alexandra not Alezander

In [12]:
query_7 = spark.sql('''
      SELECT Birth_Country, COUNT(*) AS Highest_Person_Count
      FROM Fake_data_temp
      WHERE First_Name = 'Stephen'
      OR First_Name = 'Alexandra'
      AND Income > 200000
      GROUP BY Birth_Country
      ORDER BY Highest_Person_Count DESC
      LIMIT 5;
''')

query_7.show()

+--------------------+--------------------+
|       Birth_Country|Highest_Person_Count|
+--------------------+--------------------+
|             Algeria|                   2|
|      Cayman Islands|                   2|
|       Faroe Islands|                   2|
|United States Min...|                   2|
|             Tokelau|                   1|
+--------------------+--------------------+

## New Code Transformations and Actions

We are still using the temporary table -> Fake_data_temp

In [35]:
# This is the fixed original query
# Observation: Alexandra not Alezander (this is what I initially had)
query7 = spark.sql('''
      SELECT Birth_Country, COUNT(*) AS Highest_Person_Count
      FROM Fake_data_temp
      WHERE (First_Name = 'Stephen'
      OR First_Name = 'Alexandra')
      AND Income > 200000
      GROUP BY Birth_Country
      ORDER BY Highest_Person_Count DESC
      LIMIT 5;
''')

query7.show()

+--------------------+--------------------+
|       Birth_Country|Highest_Person_Count|
+--------------------+--------------------+
|             Algeria|                   2|
|       Faroe Islands|                   2|
|United States Min...|                   2|
|             Tokelau|                   1|
|         Philippines|                   1|
+--------------------+--------------------+

In [26]:
# new_query
# transformation
new_query7 = spark.sql('''
        SELECT Birth_Country, COUNT(*) AS Person_Count
        FROM Fake_data_temp
        WHERE (First_Name = 'Stephen' OR First_Name = 'Alexandra')
        AND Income > 200000
        GROUP BY Birth_Country;
''')

transf7 = new_query7.orderBy(new_query7.Person_Count.desc())  # Using OrderBy (transformation)

results_query7 = transf7.collect() # action

top_5 = results_query7[:5] # limit 5

for country in top_5:
    print(country)

Row(Birth_Country='Algeria', Person_Count=2)
Row(Birth_Country='Faroe Islands', Person_Count=2)
Row(Birth_Country='United States Minor Outlying Islands', Person_Count=2)
Row(Birth_Country='Tokelau', Person_Count=1)
Row(Birth_Country='Philippines', Person_Count=1)

# Question 8

Check if we have people with same SSN number and if they have , print the SSN Number.

`query_8` continues with the basic SQL Syntax usage, we select SSN and calculate the total count of persons who contain the same SSN. We group by SSN and use HAVING COUNT( * ) > 1) to filter the results than contain SSN duplicates.

In [28]:
query_8 = spark.sql('''
      SELECT SSN, COUNT(*) AS SSN_Check
      FROM Fake_data_temp
      GROUP BY SSN
      HAVING COUNT(*) > 1;
''')


query_8.show()

+-----------+---------+
|        SSN|SSN_Check|
+-----------+---------+
|879-74-5521|        2|
+-----------+---------+

## New Code Transformations and Actions

We are still using the temporary table -> Fake_data_temp

In [29]:
transf8 = query_8.orderBy(query_8.SSN_Check.desc())  # transformation

results_query8 = transf8.collect() # action

for row in results_query8:
    print(row)

Row(SSN='879-74-5521', SSN_Check=2)

# References:
 - Checking for temporary table: https://stackoverflow.com/questions/58067388/how-to-check-if-a-hive-table-exists-using-pyspark

 - SQL Queries in PySpark: https://medium.datadriveninvestor.com/pyspark-sql-and-dataframes-4c821615eafe

 - PySpark Transformations and Actions Guide: https://www.analyticsvidhya.com/blog/2016/10/using-pyspark-to-perform-transformations-and-actions-on-rdd/

 - PySpark Transformations: https://sparkbyexamples.com/pyspark/pyspark-rdd-transformations/

 - SQL AGG and Scalar functions: https://www.geeksforgeeks.org/sql-functions-aggregate-scalar-functions/

 - SQL Tutorial/Functions: http://www-db.deis.unibo.it/courses/TW/DOCS/w3schools/sql/sql_alias.asp.html#gsc.tab=0

 - HAVING COUNT (*) > 1: https://stackoverflow.com/questions/30800889/retrieving-the-duplicate-ssn-from-the-huge-number-of-employess-all-of-them

 - Useful SQL SYNTAX: https://stackoverflow.com/questions/5391564/how-to-use-distinct-and-order-by-in-same-select-statement

 - PySpark OrderBy(): https://sparkbyexamples.com/pyspark/pyspark-orderby-and-sort-explained/

 - PySpark groupBy, Sort By, Descending Order: https://sparkbyexamples.com/pyspark/pyspark-dataframe-groupby-and-sort-by-descending-order/

 - **This is how the answers should be:** PySpark desc() and collect(): https://spark.apache.org/docs/3.1.3/api/python/reference/api/pyspark.sql.Column.desc.html

 - withColumnRenamed: https://spark.apache.org/docs/latest/api/python/reference/pyspark.sql/api/pyspark.sql.DataFrame.withColumnRenamed.html

 - PySpark distinct: https://sparkbyexamples.com/pyspark/pyspark-select-distinct/

 - PySpark count(): https://sparkbyexamples.com/pyspark/pyspark-count/